TELEGRAM_BOT_API_TOKEN=ваш токен бота в телеграмме

POSTGRES_DB=base-name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=test

PGADMIN_DEFAULT_EMAIL=test@mail.local
PGADMIN_DEFAULT_PASSWORD="${POSTGRES_PASSWORD}"
PGADMIN_CONFIG_SERVER_MODE=False

REDIS_HOST=localhost
REDIS_PORT=6379

GAME_URL=путь к клиенту игры
