TELEGRAM_BOT_API_TOKEN=34564565:AAF-w866KWqds234ZG2Li_HQsy4FDSAWDg
TELEGRAM_CHANNEL_ID=435345346

POSTGRES_DB=base-name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=test

PGADMIN_DEFAULT_EMAIL=test@mail.local
PGADMIN_DEFAULT_PASSWORD="${POSTGRES_PASSWORD}"
PGADMIN_CONFIG_SERVER_MODE=False
